# k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: heart-model-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: heart-model
  template:
    metadata:
      labels:
        app: heart-model
    spec:
      containers:
      - name: heart-model-container
        image: heart-api-flask  # Sin :latest
        imagePullPolicy: Never  # ← ESTA LÍNEA ES CRÍTICA
        ports:
        - containerPort: 5000
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"